@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-light;
}

@layer components {
	.button {
		@apply flex items-center px-4 py-3 space-x-4 font-normal text-gray-600 transition bg-gray-100 rounded-lg outline-none hover:bg-gray-200 focus:ring focus:ring-interdimensional dark:bg-gray-800 dark:text-gray-200 dark:hover:bg-gray-700 active:scale-95 hover:text-gray-800;
	}

	.button-small {
		@apply px-3 py-2 space-x-2 text-sm;
	}
	.button-circle {
		@apply flex items-center justify-center w-10 h-10 p-0 text-xl;
	}

	.button-circle.button-small {
		@apply w-8 h-8 text-lg;
	}

	.button-full {
		@apply justify-center w-full;
	}

	.button-ghost {
		@apply bg-transparent;
	}

	.button-invisible {
		@apply bg-transparent hover:bg-white hover:shadow;
	}

	.button-primary {
		@apply text-white shadow-xl bg-interdimensional hover:bg-interdimensional-dark focus:bg-interdimensional-dark focus:text-white shadow-interdimensional/30 hover:text-white active:bg-interdimensional;
	}

	.button-invert {
		@apply text-gray-400 hover:bg-gray-700 hover:text-gray-300;
	}

	.page {
		@apply w-full px-8 py-4;
	}

	.page-over {
		@apply p-4 bg-white rounded-lg shadow-md md:p-8 shadow-gray-300/50;
	}

	.label {
		@apply block m-0 mb-2 text-xs font-medium tracking-wide uppercase whitespace-nowrap;
	}

	.input {
		@apply w-full font-light border-gray-300 rounded-lg shadow-sm shadow-gray-200 focus:ring-2 focus:ring-interdimensional hover:border-gray-400 focus:border-interdimensional focus:hover:border-interdimensional;
	}
	.input-dark {
		@apply bg-gray-900 border-gray-700 shadow-none hover:border-gray-600;
	}

	.badge {
		@apply px-2 py-0.5 font-medium tracking-wider uppercase rounded-full text-xxx text-ellipsis whitespace-nowrap overflow-hidden;
	}
}

.idea-bg {
	@apply text-white bg-idea-500 hover:bg-idea-700;
}
.do-bg {
	@apply text-white bg-do-500 hover:bg-do-700;
}
.doing-bg {
	@apply text-white bg-doing-500 hover:bg-doing-700;
}
.review-bg {
	@apply text-white bg-review-500 hover:bg-review-700;
}
.done-bg {
	@apply text-white bg-done-500 hover:bg-done-700;
}
.accomplished-bg {
	@apply text-white bg-accomplished-500 hover:bg-accomplished-700;
}

.action-idea-bg {
	@apply transition bg-white border hover:border-idea-500 hover:ring-4 hover:ring-idea-500/30;
}
.action-do-bg {
	@apply transition bg-white border hover:border-do-500 hover:ring-4 hover:ring-do-500/30;
}
.action-doing-bg {
	@apply transition bg-white border hover:border-doing-500 hover:ring-4 hover:ring-doing-500/30;
}
.action-review-bg {
	@apply transition bg-white border hover:border-review-500 hover:ring-4 hover:ring-review-500/30;
}
.action-done-bg {
	@apply transition bg-white border hover:border-done-500 hover:ring-4 hover:ring-done-500/30;
}
.action-accomplished-bg {
	@apply transition bg-white border hover:border-accomplished-500 hover:ring-4 hover:ring-accomplished-500/30;
}

.planning-bg {
	@apply text-white transition bg-planning-500 hover:bg-planning-600;
}
.copy-bg {
	@apply text-white transition bg-copy-500 hover:bg-copy-700;
}
.creative-bg {
	@apply text-white transition bg-creative-500 hover:bg-creative-700;
}
.account-bg {
	@apply text-white transition bg-account-600 hover:bg-account-800;
}

.post-bg {
	@apply text-white transition bg-post-500 hover:bg-post-700;
}
.stories-bg {
	@apply text-white transition bg-stories-500 hover:bg-stories-700;
}
.reels-bg {
	@apply text-white transition bg-reels-500 hover:bg-reels-700;
}
.meeting-bg {
	@apply text-white transition bg-meeting-500 hover:bg-meeting-700;
}
.copy-bg {
	@apply text-white transition bg-copy-500 hover:bg-copy-700;
}
.video-bg {
	@apply text-white transition bg-video-500 hover:bg-video-700;
}
.shooting-bg {
	@apply text-white transition bg-shooting-500 hover:bg-shooting-700;
}
.press-bg {
	@apply text-white transition bg-press-500 hover:bg-press-700;
}
.task-bg {
	@apply text-white transition bg-task-500 hover:bg-task-700;
}
.tiktok-bg {
	@apply text-white transition bg-tiktok-500 hover:bg-tiktok-700;
}

.action-post-bg {
	@apply transition bg-white border border-l-8 border-l-post-500 hover:border-post-500 hover:ring-4 hover:ring-post-500/30;
}
.action-stories-bg {
	@apply transition bg-white border border-l-8 border-l-stories-500 hover:border-stories-500 hover:ring-4 hover:ring-stories-500/30;
}
.action-reels-bg {
	@apply transition bg-white border border-l-8 border-l-reels-500 hover:border-reels-500 hover:ring-4 hover:ring-reels-500/30;
}
.action-meeting-bg {
	@apply transition bg-white border border-l-8 border-l-meeting-500 hover:border-meeting-500 hover:ring-4 hover:ring-meeting-500/30;
}
.action-copy-bg {
	@apply transition bg-white border border-l-8 border-l-copy-500 hover:border-copy-500 hover:ring-4 hover:ring-copy-500/30;
}
.action-video-bg {
	@apply transition bg-white border border-l-8 border-l-video-500 hover:border-video-500 hover:ring-4 hover:ring-video-500/30;
}
.action-shooting-bg {
	@apply transition bg-white border border-l-8 border-l-shooting-500 hover:border-shooting-500 hover:ring-4 hover:ring-shooting-500/30;
}
.action-press-bg {
	@apply transition bg-white border border-l-8 border-l-press-500 hover:border-press-500 hover:ring-4 hover:ring-press-500/30;
}
.action-task-bg {
	@apply transition bg-white border border-l-8 border-l-task-500 hover:border-task-500 hover:ring-4 hover:ring-task-500/30;
}
.action-tiktok-bg {
	@apply transition bg-white border border-l-8 border-l-tiktok-500 hover:border-tiktok-500 hover:ring-4 hover:ring-tiktok-500/30;
}

@layer utilities {
	.text-xx {
		font-size: 0.625rem;
		line: 1rem;
	}
	.text-xxx {
		font-size: 0.5rem;
		line: 0.5rem;
	}
}
