@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-light;
}

@layer components {
	.button {
		@apply flex items-center px-4 py-3 space-x-4 font-normal text-gray-600 transition bg-gray-100 rounded-lg outline-none hover:bg-gray-200 focus:ring focus:ring-interdimensional dark:bg-gray-800 dark:text-gray-200 dark:hover:bg-gray-700 active:scale-95 hover:text-gray-800;
	}

	.button-small {
		@apply p-3 space-x-2 text-sm;
	}

	.button-full {
		@apply justify-center w-full;
	}

	.button-ghost {
		@apply bg-transparent;
	}

	.button-invisible {
		@apply bg-transparent hover:bg-white hover:shadow;
	}

	.button-primary {
		@apply text-white shadow-xl bg-interdimensional hover:bg-interdimensional-dark focus:bg-interdimensional-dark focus:text-white shadow-interdimensional/30 hover:text-white active:bg-interdimensional;
	}

	.button-invert {
		@apply text-gray-400 hover:bg-gray-700 hover:text-gray-300;
	}

	.page {
		@apply w-full px-8 py-4;
	}

	.page-over {
		@apply p-4 bg-white rounded-lg shadow-md md:p-8 shadow-gray-300/50;
	}

	.input {
		@apply w-full font-light border-gray-300 rounded-lg shadow-sm shadow-gray-200 focus:border-interdimensional hover:border-gray-400;
	}

	.badge {
		@apply px-2 py-0.5 font-medium tracking-wider uppercase rounded-full text-xxx;
	}
}

.idea-bg {
	@apply border border-l-8 border-l-idea-500 hover:ring-4 hover:ring-idea-500 hover:ring-opacity-30 hover:border-idea-500;
}

.do-bg {
	@apply border border-l-8 border-l-do-500 hover:ring-4 hover:ring-do-500 hover:ring-opacity-30 hover:border-do-500;
}

.doing-bg {
	@apply border border-l-8 border-l-doing-500 hover:ring-4 hover:ring-doing-500 hover:ring-opacity-30 hover:border-doing-500;
}

.review-bg {
	@apply border border-l-8 border-l-review-500 hover:ring-4 hover:ring-review-500 hover:ring-opacity-30 hover:border-review-500;
}

.done-bg {
	@apply border border-l-8 border-l-done-500 hover:ring-4 hover:ring-done-500 hover:ring-opacity-30 hover:border-done-500;
}

.accomplished-bg {
	@apply border border-l-8 border-l-accomplished-500 hover:ring-4 hover:ring-accomplished-500 hover:ring-opacity-30 hover:border-accomplished-500;
}

.planning-bg {
	@apply text-white transition bg-planning-400 hover:bg-planning-600;
}
.copy-bg {
	@apply text-white transition bg-copy-500 hover:bg-copy-700;
}
.creative-bg {
	@apply text-white transition bg-creative-500 hover:bg-creative-700;
}
.account-bg {
	@apply text-white transition bg-account-500 hover:bg-account-700;
}

.post-bg {
	@apply text-white transition bg-post-500 hover:bg-post-700;
}
.stories-bg {
	@apply text-white transition bg-stories-500 hover:bg-stories-700;
}
.reels-bg {
	@apply text-white transition bg-reels-500 hover:bg-reels-700;
}
.meeting-bg {
	@apply text-white transition bg-meeting-500 hover:bg-meeting-700;
}
.copy-bg {
	@apply text-white transition bg-copy-500 hover:bg-copy-700;
}
.video-bg {
	@apply text-white transition bg-video-500 hover:bg-video-700;
}
.shooting-bg {
	@apply text-white transition bg-shooting-500 hover:bg-shooting-700;
}
.press-bg {
	@apply text-white transition bg-press-500 hover:bg-press-700;
}
.task-bg {
	@apply text-white transition bg-task-500 hover:bg-task-700;
}
.tiktok-bg {
	@apply text-white transition bg-tiktok-500 hover:bg-tiktok-700;
}

@layer utilities {
	.text-xx {
		font-size: 0.625rem;
		line: 1rem;
	}
	.text-xxx {
		font-size: 0.5rem;
		line: 0.5rem;
	}
}
